@model ClassCreateModel
@{
    ViewData["Title"] = "CreateClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="oppositeFormTable" class="col-md-12">
	<form method="post">
			<div class="card-header" >
				<div class="card-title">Yeni Sınıf Girişi</div>
			</div>
			<div class="card-body" >
				<div class="form-group">
					<label for="ClassName">Sınıf Adını Giriniz</label>
					<input type="text" asp-for="ClassName" class="form-control" id="ClassName">
					<span asp-validation-for="ClassName" class="text-danger"></span>
				</div>
			</div>
			<div class="card-action">
				<button class="btn btn-success">Ekle</button>
			</div>
	</form>
</div>